In [1]:
import sqlite3

In [16]:
conn = sqlite3.connect("daily_jobs.db")  # replace with your DB filename
cursor = conn.cursor()

In [5]:
# Create 'objects' table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS objects (
        tag TEXT PRIMARY KEY,
        father_tag TEXT,
        unit TEXT,
        special_comment TEXT,
        integral_part TEXT
    )
""")

conn.commit()
#conn.close()

In [3]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables:", tables)

Tables: [('users',), ('objects',)]

In [12]:
cursor.execute("PRAGMA table_info(objects);")
schema = cursor.fetchall()
print("Schema:", schema)

Schema: [(0, 'tag', 'TEXT', 0, None, 1), (1, 'father_tag', 'TEXT', 0, None, 0), (2, 'unit', 'TEXT', 0, None, 0), (3, 'special_comment', 'TEXT', 0, None, 0), (4, 'integral_part', 'TEXT', 0, None, 0), (5, 'created_by', 'TEXT', 0, None, 0), (6, 'created_date', 'TEXT', 0, None, 0), (7, 'modified_by', 'TEXT', 0, None, 0)]

In [10]:
try:
    cursor.execute("ALTER TABLE objects ADD COLUMN modified_by TEXT;")
except sqlite3.OperationalError as e:
    print("created_by already exists:", e)

In [26]:
cursor.execute("SELECT * FROM objects;")
rows = cursor.fetchall()

for row in rows:
    print(row)

('103-KM-101', '', '103', '', '', None, None, None)
('103-K-101', 'fdfsfs', '103', '', 'fsf', 'ahmdi-sm', '2025-09-27T15:34:51', None)
('104-K-101A', 'fdfsfs', '103', '', 'fsf', 'ahmdi-sm', '2025-09-27 15:39:21', None)
('104-U-101A', '', '', '', '', 'ahmdi-sm', '2025-09-27 15:40:23', None)
('103-U-101A', 'fdfsfs', '103', '', 'fsf', 'ahmdi-sm', '2025-09-27 15:48:43.655878', None)
('101-P-101A', 'cx', 'xc', '', 'cx', 'ahmdi-sm', '2025-09-27T15:50:17.201169', None)
('102-P-102A', '232', '102', '', '', 'ahmdi-sm', '2025-09-27', None)
('102-P-102Afd', '232', '102', '', '', 'ahmdi-sm', '2025-09-27', None)
('102-P-102Afdf', '232', '102', '', '', 'ahmdi-sm', '2025-09-27', None)
('fdf', 'fd', 'fdf', '', '', 'ahmdi-sm, Mohammad', '2025-09-27', None)
('103-KM-101fdf', 'fd', 'fd', '', 'ffd', 'ahmdi-sm, Mohammad', '2025-09-27', None)
('fssfd', 'dfdf', 'sfsd', '', 'ffd', 'ahmdi-sm, Mohammad', '2025-09-27', None)
('admin', 'بسیب', 'sdfs', '', '', 'ahmdi-sm, Mohammad', '2025-09-27', None)
('105-P-101', '105-P-101', '105', '', '', 'ahmdi-sm, Mohammad', '2025-09-27', None)
('FSSFD', 'DFDF', 'SFSD', '', 'ffd', 'ahmdi-sm, Mohammad', '2025-09-27', None)
('GT', 'FDJFK', 'SFSLJ', '', '', 'ahmdi-sm, Mohammad', '2025-09-27', None)
('GT2', 'FSJL', 'JLSJFLS', '', '', 'ahmdi-sm, Mohammad', '2025-09-27', None)
('RFT', 'VX', 'CVCX', '', '', 'ahmdi-sm, Mohammad', '2025-09-27', None)
('FDFیب', 'VX22', 'CVCX', '', '', 'ahmdi-sm, Mohammad', '2025-09-27', None)

In [14]:
conn.close()